* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto', 'Noto Sans KR', 'PingFang SC', 'Apple SD Gothic Neo',
    'Microsoft YaHei UI', 'Malgun Gothic', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}

button {
  padding: 0;
  background-color: transparent;
  font-size: 100%;
  cursor: pointer;
}
a {
  text-decoration: none;
  outline: none;
  font-size: 100%;
  color: inherit;
}
